@model ProjectModel

<h2>Редактировать проект</h2>

<form asp-action="EditProject" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label>Название</label>
        <input asp-for="Title" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Описание</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label>Технологии</label>
        <input asp-for="Technologies" class="form-control" />
    </div>

    <button class="btn btn-primary">Сохранить</button>
</form>
