@model BlogPost

<h2>Редактировать статью</h2>

<form asp-action="EditPost" method="post">

    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label>Заголовок</label>
        <input asp-for="Title" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Краткое описание</label>
        <textarea asp-for="ShortDescription" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label>Содержание</label>
        <textarea asp-for="Content" class="form-control" rows="6"></textarea>
    </div>

    <button class="btn btn-primary">Сохранить</button>

</form>