body{
}
/* Заголовок */
.portfolio-title {
    text-align: center;
    margin: 50px 0;
    font-size: 32px;
}

/* Сетка */
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    padding: 0 40px 40px;
}

/* Карточка */
.portfolio-card {
    background: #1D2227;
    color: #FFFFFF;
    padding: 25px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

/* Контент */
.portfolio-content {
    position: relative;
    z-index: 2;
}

/* ID проекта */
.project-id {
    font-size: 14px;
    color: #aaa;
}

/* Заголовок */
.portfolio-card h3 {
    margin: 10px 0;
}

/* Описание */
.portfolio-card p {
    color: #ccc;
    font-size: 14px;
}

/* Кнопка */
.portfolio-btn {
    display: inline-block;
    margin-top: 15px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    transition: 0.3s;
}

    .portfolio-btn:hover {
        color: #ddd;
        border-color: #ddd;
    }

/*Details*/
/* Контейнер */
.project-container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
}

/* Заголовок */
.project-header {
    margin-bottom: 30px;
}

    .project-header h1 {
        font-size: 32px;
    }

.project-sub {
    color: #777;
}

/* Основной блок */
.project-main {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

/* Контент */
.project-content {
    flex: 2;
    background: white;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #eee;
    line-height: 1.7;
}

/* Sidebar */
.project-sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Карточки */
.sidebar-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #eee;
}

/* Технологии */
.tech {
    display: inline-block;
    background: #4e73df;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    margin: 5px 5px 0 0;
    font-size: 13px;
}

/* Кнопка */
.btn-back {
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    color: #4e73df;
}