body{
}
/* Заголовок */
.portfolio-title {
    text-align: center;
    margin: 50px 0;
    font-size: 32px;
}

/* Сетка */
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    padding: 0 40px 40px;
}

/* Карточка */
.portfolio-card {
    background: linear-gradient(135deg, #1e1e2f, #2c2c54);
    color: white;
    padding: 25px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

/* Контент */
.portfolio-content {
    position: relative;
    z-index: 2;
}

/* ID проекта */
.project-id {
    font-size: 14px;
    color: #aaa;
}

/* Заголовок */
.portfolio-card h3 {
    margin: 10px 0;
}

/* Описание */
.portfolio-card p {
    color: #ccc;
    font-size: 14px;
}

/* Кнопка */
.portfolio-btn {
    display: inline-block;
    margin-top: 15px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    transition: 0.3s;
}

    .portfolio-btn:hover {
        color: #ddd;
        border-color: #ddd;
    }

/*Details*/
/* HERO */
.project-hero {
    text-align: center;
    padding: 100px 20px 40px;
}

.project-hero h1 {
    font-size: 42px;
    font-weight: 700;
}

.project-subtitle {
    color: #666;
    max-width: 600px;
    margin: 10px auto;
}

/* ТЕХНОЛОГИИ */
.project-tech {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.tech-tag {
    background: white;
    padding: 8px 16px;
    border-radius: 20px;
    margin: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.tech-tag:hover {
    transform: translateY(-3px);
    background: #1e1e2f;
    color: white;
}

/* КОНТЕНТ */
.project-container {
    max-width: 850px;
    margin: auto;
    padding: 20px;
}

/* БЛОКИ */
.project-block {
    background: white;
    padding: 25px;
    border-radius: 18px;
    margin-bottom: 25px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.07);
    transition: 0.3s;
}

.project-block:hover {
    transform: translateY(-5px);
}

/* ЗАГОЛОВКИ */
.project-block h2 {
    margin-bottom: 10px;
}

/* ТЕКСТ */
.project-block p {
    color: #555;
    line-height: 1.7;
}

/* ВЫДЕЛЕННЫЙ БЛОК */
.project-block.highlight {
    background: linear-gradient(135deg, #1e1e2f, #34345c);
    color: white;
}

.project-block.highlight p {
    color: #ddd;
}

/* КНОПКА */
.back-btn {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #1e1e2f;
    font-weight: bold;
}