body {
}

.privacy-container {
    max-width: 900px;
    margin: 60px auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
    border: 1px solid #eee;
}

    .privacy-container h1 {
        margin-bottom: 10px;
        font-size: 32px;
    }

.privacy-container section {
    margin-bottom: 25px;
}

.privacy-container h3 {
    margin-bottom: 10px;
    color: #1e1e2f;
}

.privacy-container p {
    color: #444;
    line-height: 1.7;
}

.privacy-container ul {
    padding-left: 20px;
}

.privacy-container li {
    margin-bottom: 5px;
}