body {
}


/* Карточка */
.service-card {
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
    transition: 0.3s;
    text-align: center;
}

    .service-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    }

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
    .search-bar input {
        width: 300px;
        padding: 10px;
        border-radius: 10px 0 0 10px;
        border: 1px solid #ccc;
    }

    .search-bar button {
        padding: 10px 15px;
        border: none;
        background: #1e1e2f;
        color: #fff;
        border-radius: 0 10px 10px 0;
    }

.services-grid-clean {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
    margin-top: 40px;
}

/* Карточка */
.service-card-accent {
    background: white;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #eee;
    position: relative;
    transition: 0.25s;
}

/* Текст */
.service-card-accent h3 {
    margin-bottom: 10px;
}

.service-card-accent p {
    color: #666;
    font-size: 14px;
    margin-bottom: 15px;
}

/* Ссылка */
.service-link {
    text-decoration: none;
    color: black;
    font-weight: 500;
}


/* Hover */
.service-card-accent:hover {
    transform: translateY(-4px);
    border-color: #ddd;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

/*Details*/
/*Картинка*/
.service-image img {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    position: relative;
    top: 35px
}

.service-details-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    position: relative;
    top: -35px
}

/* Картинка */
.service-image img {
    width: 100%;
    border-radius: 16px;
    margin-bottom: 20px;
}

/* Контент */
.service-content h1 {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

/* Текст */
.service-text {
    line-height: 1.7;
    color: #444;
}

/* Кнопка */
.btn-back {
    display: inline-block;
    margin-top: 25px;
    text-decoration: none;
    color: #4e73df;
}

